[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
debug = "flask run -h localhost -p 8000 --debug --reload"

[packages]
flask = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
